/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 720px;
  /* height: 345px; */
  height: 100vh;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 10px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 345px;
  left: 0px;
  right: 0px;
  text-align: center;
  background: url("images/parliment_sm.jpg") no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

#hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 225px;
  height: 40px;
}

.dark-back {
  background-color: black;
  opacity: 0.75;
  color: white;
  border-radius: 10px;
}

.sm-pad {
  margin: 10px;
  padding: 10px;
}

#calltoaction {
  background-color: #F1FAEE;
  display: flex;
  flex-direction: row;
  width: 720px;
  height: 400px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 720px;
  height: 400px;
  left: 0px;
  right: 0px;
  margin-top: 50px;
  background-color: white;
  padding-top: 50px;
}

#guide-container {
  display: flex;
  width: 400px;
  height: 300px;
  flex-direction: row-reverse;
  text-align: center;
  background-color: #A8DADC;
  border-radius: 10px;
  box-shadow: 3px 5px black;
}

#guide-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#guide-title {
  height: 32px;
  width: 207px;
  left: 349px;
  top: 99px;
}

#guide-tag-line {
  position: absolute;
  width: 189px;
  height: 71px;
  left: 360px;
  top: 145px;
}

#guide-name {
  width: 189px;
  height: 18px;
  left: 358px;
  top: 242px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

#guide img {
  width: 180px;
  height: 250px;
  border-radius: 10px;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.img-round {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


footer {
  text-align: center;
}

#hero-text:hover {
  transition: 1s;
  opacity: 0;
}

article {
  border: 5px solid black;
  position: absolute;
  border-radius: 10px;
}